{% extends "::index.html.twig" %}

{% block title %}JEWEL STREET:FORGOTPASSWORD{% endblock %}
{% block jsscript %}
    <script type="text/javascript">
        $(document).ready(function() {                       
            $('#form_sample_1').validate({
            // Specify the validation rules
             //alert("hello");
			 //errorElement: 'span',
			 errorPlacement: function(error, element) {
				if (element.attr("name") == "selectItemform[officesId][]" ) {
				error.insertAfter("#uofficeerror");
				}else {
				error.insertAfter(element);
				}
				},
            rules: {
				'form[email]': {
                    required: true,
                    email: true
				}
				
				
            },
            messages: {
			
			'form[email]':{
                    required: "Please enter email address.",
                email: "Please enter valid email address"
		   }
            },
            submitHandler: function(form) {
                form.submit();
            }
		});
            
        });        
    </script>
    <style>
        .control-label{
            margin: 0 0 0 54px;
        }
        .controls{
            margin-left:53px;
        }
        .controls input{
            width: 80%;
        }
        .error{color:red;font-size:13px;}
    </style>
{% endblock %}
{% block bodyheader %}
    <section class="content-header">
        <h1>User</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Forgot Password</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">                   
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forgot Password</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'attr': { 'id': 'form_sample_1', 'class': 'form-horizontal', validate: 'validate' } }) }}
                        <fieldset>
                            {% if name==1 %}
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>Success</h4>
                                    {{ success_name }}
                                </div>
                            {% endif %}
                            {% if name==2 %}
                               <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4>Error</h4>
                                    {{ email_name }}
                                </div>
                            {% endif %}
                            {% if name==3 %}                                
                                 <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4>Error</h4>
                                    {{ email_addr_name }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="control-label">Email<span class="required">*</span></label>
                                <div class="controls">											
                                    {{ form_widget(form.email,{'attr': {'class': 'span6 m-wrap', 'required': 'required'} }) }}
                                </div>
                            </div>
                            <div class="form-group">				

                                <div class="controls">											
                                    {{ form_widget(form.send,{'attr': {'class': 'btn btn-primary'}} ) }}

                                </div>
                            </div>
                        </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>			
        </div><!-- /.row (main row) -->
    </section><!-- /.content --> 

{% endblock %}
