{% extends "::index.html.twig" %}

{% block title %}JEWEL STREET:SELLER LIST{% endblock %}
{% block jsscript %}
    {% stylesheets 'bundles/goldtaskapp/css/dataTables.bootstrap.css' filter="cssrewrite" %}			
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
    {% endstylesheets %}
    {% javascripts 'bundles/goldtaskapp/js/jquery.dataTables.js' %}	
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'bundles/goldtaskapp/js/dataTables.bootstrap.js' %}	
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $('#example1').dataTable();
        });
    </script>
{% endblock %}
{% block bodyheader %}
    <section class="content-header">
        <h1>Users</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('goldtaskReportPatients') }}"><i class="fa fa-dashboard"></i> Home</a></li>			
            <li class="active">Sellers</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List</h3>
                        <div class="muted pull-left" style="float:right !important;padding-top:10px !important;padding-right:10px !important;"><a class="btn btn-primary" href="{{ path('register') }}" style="color:white !important;"><i class="fa fa-plus"></i>Add Seller</a></div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>					
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>										
                                    <th>Change Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>	
                                {% for values in data %}				
                                    <tr>
                                        <td>{{ (loop.index0) + 1 }}</td>
                                        <td>{{ values.name|title }}</td>							
                                        <td>{{ values.email }}</td>
                                        <td>{{ values.mobile }}</td>											
                                        <td>
                                            {% if values.isActive == 1 %}												
                                                <a href="{{ path('usersinactive',{'id':values.id }) }}">
                                                    Inactive
                                                </a>
                                            {% endif %}
                                                             
                                            {% if values.isActive == 0 %}
                                                <a href="{{ path('usersactive',{'id':values.id }) }}">
                                                    Active
                                                </a>
                                            {% endif %}
                                            &nbsp;/&nbsp;
                                            {% if values.counter == 3 %}												
                                                <a href="{{ path('usersunblocked',{'id':values.id }) }}">
                                                    Unblocked
                                                </a>
                                            {% endif %}
                                            {% if values.counter < 3 %}
                                                <a href="{{ path('usersblocked',{'id':values.id }) }}">
                                                    Blocked
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>					   
                                            {% image 'bundles/goldtaskapp/images/view.png' output='View' %}									
                                            <a href="{{ path('usersview',{'id':values.id }) }}">
                                                <img src="{{ asset_url }}" alt="Roxanna" border="0" title="View"  width="20" height="20" />
                                            </a>	
                                            {% endimage %}
                                            {% image 'bundles/goldtaskapp/images/edit.png' output='Edit' %}									
                                            <a href="{{ path('usersupdate',{'id':values.id } ) }}">
                                                <img src="{{ asset_url }}" alt="Roxanna" border="0" title="Edit"  width="20" height="20" />
                                            </a>	
                                            {% endimage %}																			
                                        </td>
                                    </tr>
                                {% endfor %}									
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->   
{% endblock %}
